<!-- Header-->


<p class="lead text-white-50 ">
    Eller vill du slumpa fram en aktivitet du kan göra?
</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <button class="btn btn-primary btn-lg px-4 me-sm-3" (click)="buttonClick()">Vad fan ska jag göra?</button>
</div>

<section class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col">
                <div class="text-center">
                    <h3 class="display-6 fw-bolder text-white">
                        {{randomWord}}
                    </h3>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>