<section class="py-5">
  <div class="container px-5">
    <div class="row gx-5 mb-4 mx-5">
      <div class="col-lg-6">
        <div class="text-end my-5">
          <h1 class="display-5 fw-bolder mb-2">
            Detta är <br> Friskvårdskollen
          </h1>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="text-left my-5">
          <p class="lead text-50 mb-4">
            Friskvårdskollen består av ett erfaret team som brinner för både friskvård och att ha koll. För några år sedan hade vi en erfarenhet i teamet där en av våra medlemmar inte lyckades utnyttja sitt Friskvårdsbidrag i tid, då den helt enkelt var för osäker på vilka aktivititer som ingick i bidraget. Detta blev startskottet för den sida du tittar på just nu, så att aldrig någon ska behöva göra samma misstag som vi. 
          </p>

        </div>
      </div>
    </div>


    <!--  Images -->

    <div class="row gx-5 justify-content-center mx-5">
      <div class="col px-3">
        <img src="assets/img/moa.jpg" class="rounded-circle img" alt="image">
      </div>
      <div class="col px-3 ">
        <img src="assets/img/josefin.jpg" class="rounded-circle img" alt="image">
      </div>
      <div class="col px-3 ">
        <img src="assets/img/anna.jpg" class="rounded-circle img" alt="image">
      </div>
      <div class="col px-3">
        <img src="assets/img/kaspian.jpg" class="rounded-circle img" alt="image">
      </div>
      <div class="col px-3">
        <img src="assets/img/blenda.jpg" class="rounded-circle img" alt="image">
      </div>

    </div>


  </div>
</section>
