<div class="bg-dark home">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6 mt-5">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Välkommen till Friskvårdskollen!
          </h1>
          <p class="lead text-white-50 mb-4">
            Här kan du snabbt söka upp om det går att använda ditt
            friskvårdsbidrag till en hälsoaktivitet.
          </p>
          <search-bar></search-bar>
          <div class="mt-5">
            <app-generator></app-generator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
